					/*		ОБЩИЕ		*/
html,
body {
	margin: 0;
	padding: 0;
	min-width: 1200px;
}

body {
	font-size: 14px;
	line-height: 26px;
	color: #333;
	font-weight: normal;
	font-family: "PT Sans", Arial, sans-serif;
}

h2 {
	font-size: 30px;
	line-height: 34px;
	color: #000;
}

h3 {
	font-size: 21px;
	line-height: 26px;
	color: #000;
}

img {
	border: 0;
}

p {
	margin: 0;
}

					/*     СЕТКА     */

.wrapper {
	width: 1200px;
	margin: 0 auto;
	background: #fff;
	outline: 1px solid blue;
}

.header {
	position: relative;
	outline: 1px solid blue;
}

.logo_pic {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -70px;
}

.main_navigation ul {
	margin: 0;
	padding: 0;
}

.main_navigation li {
	float: left;
	width: 240px;
	padding-bottom: 23px;
	padding-top: 7px;
	outline: 1px solid blue;
}

.main_navigation li:first-child {
	margin-left: 72px;
}

.main_navigation li:nth-child(2) {
	margin-right: 96px;
}

.main_navigation li:nth-child(3),
.main_navigation li:last-child {
	text-align: right;
}

.intro {
	height: 432px;
	padding-top: 76px;
	background-image: url(../img/intro-bg.jpg);
	outline: 1px solid blue;
}

.intro_text {
	width: 438px;
	margin: 0 auto;
	outline: 1px solid blue;
}

.container {
	width: 500px;
	margin: 0 auto;
	padding-bottom: 58px;
	padding-top: 54px;
	outline: 1px solid blue;
}

.benefit_block {
	outline: 1px solid blue;
} 

.benefit {
	width: 400px;
	padding-top: 46px;
	padding-bottom: 58px;
	float: left;
}

.benefit.right {
	float: right;
}

.benefit_img {
	float: right;
}

.benefit_img.left {
	float: left;
}

.offer {
	float: left;
	width: 400px;
	padding-top: 156px;
	padding-bottom: 82px;
	outline: 1px solid blue;
}

.advantage {
	float: left;
	width: 400px;
	padding-top: 46px;
	padding-bottom: 58px;
	outline: 1px solid blue;
}
						/*	ФОРМА ПОИСКА	*/

.search_hotel {
	position: relative;
}

.search_hotel .container {
	padding-top: 46px;
	padding-bottom: 140px;
}

.search {
	position: absolute;
	width: 570px;
	left: 50%;
	margin-left: -285px;
	outline: 1px solid blue;
	bottom: 0;
}

.search_btn {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding-top: 25px;
	padding-bottom: 35px;
	padding-left: 50px;
	padding-right: 50px;
	outline: 1px solid blue;
}

.search_form {
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	padding: 55px;
	outline: 1px solid blue;
}

.map {
	width: 1200px;
	height: 473px;
	outline: 1px solid blue;
}

						/*	ФУТЕР	*/

.footer_visitsedona,
.footer_social,
.footer_copyright {
	width: 400px;
	float: left;
	padding-top: 45px;
	padding-bottom: 50px;
	outline: 1px solid blue;
	text-align: center;
}

.footer_copyright {
	padding-top: 39px;
	padding-bottom: 30px;
	font-size: 0;
}

.footer_copyright p{
	display: inline-block;
	font-size: 16px;
}

.img_link {
	display: inline-block;
	vertical-align: middle;
}

				/*  INNER PAGE*/

.filters {
	margin-bottom: 25px;
	outline: 1px solid red;
}

.filter {
	width: 240px;
	float: left;
	outline: 1px solid red;
}

.filter:first-child {
	margin-left: 70px;
}

.filter_price {
	width: 300px;
	float: right;
	margin-right: 70px;
	outline: 1px solid red;
}

.hotels_numbers {
	width: 135px;
	float: left;
	margin-left: 70px;
	margin-right: 30px;
}

.sorting_list {
	float: left;
	width: 450px;
}
.sorting_list p {
	width: 80px;
	float: left;
	margin-right: 30px;
}

.sorting_list li {
	width: 90px;
	float: left;
	
}

.sorting_direction {
	float: right;
	width: 100px;
	margin-right: 70px;

}

					/*	СПИСОК НАЙДЕННЫХ ОТЕЛИ	*/
.hotel_found {
	padding-top: 30px;
	padding-bottom: 30px;
	outline: 1px solid blue;
}
.hotel_img {
	float: left;
	margin-left: 70px;
	margin-right: 30px;
}
.info {
	float: left;
}

.type {
	float: left;
}

.price_hotel {
	float: left;
}

.hotel_rating {
	float: right;
	margin-right: 70px;
}

					/*		ПСЕВДО-РАСПОРКА		*/
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}	


